# 1.  Read the csv file("marketing_campaign_new.csv") in the folder.

In [2]:
import pandas as pd

df = pd.read_csv("marketing_campaign_new.csv")

# 2. displaying top 5 rows of dataset

In [3]:
df.head()

,ID,year_Birth,Education,marital_Status,Income,child_at_Home,teen_at_Home,dt_Customer,Recency,amt_Wines,...,num_CatalogPurchases,num_StorePurchases,num_WebVisitsMonth,acceptedCmp3,acceptedCmp4,acceptedCmp5,acceptedCmp1,acceptedCmp2,Complain,Response
0,5524.0,1957.0,Graduation,Single,58138.0,0.0,0.0,4/9/12,58.0,635.0,...,10.0,4.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2174.0,1954.0,Graduation,Single,46344.0,1.0,1.0,8/3/14,38.0,11.0,...,1.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4141.0,1965.0,Graduation,Together,71613.0,0.0,0.0,21-08-2013,26.0,426.0,...,2.0,10.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6182.0,1984.0,Graduation,Together,26646.0,1.0,0.0,10/2/14,26.0,11.0,...,0.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5324.0,1981.0,PhD,Married,58293.0,1.0,0.0,19-01-2014,94.0,173.0,...,3.0,6.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 3. Displaying bottotm 5 rows fo the dataset

In [4]:
df.tail()

,ID,year_Birth,Education,marital_Status,Income,child_at_Home,teen_at_Home,dt_Customer,Recency,amt_Wines,...,num_CatalogPurchases,num_StorePurchases,num_WebVisitsMonth,acceptedCmp3,acceptedCmp4,acceptedCmp5,acceptedCmp1,acceptedCmp2,Complain,Response
2235,10870.0,1967.0,Graduation,Married,61223.0,0.0,1.0,13-06-2013,46.0,709.0,...,3.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2236,4001.0,1946.0,PhD,Together,64014.0,2.0,1.0,10/6/14,56.0,406.0,...,2.0,5.0,7.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2237,7270.0,1981.0,Graduation,Divorced,56981.0,0.0,0.0,25-01-2014,91.0,908.0,...,3.0,13.0,6.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2238,8235.0,1956.0,Master,Together,69245.0,0.0,1.0,24-01-2014,8.0,428.0,...,5.0,10.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2239,9405.0,1954.0,PhD,Married,52869.0,1.0,1.0,15-10-2012,40.0,84.0,...,1.0,4.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

# 4. Modifying to relavant attribute types in the dataframe
1)Modifying to relavant attribute types in the dataframe
2) converting education as object type to category.
3) converting marital_Status as object type to category.

In [6]:
df["Education"] = df["Education"].astype("category")
df["marital_Status"] = df["marital_Status"].astype("category")

 # 5. Displaying Dataframe Structure

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    2237 non-null   float64
 1   year_Birth            2232 non-null   float64
 2   Education             2234 non-null   category
 3   marital_Status        2234 non-null   category
 4   Income                2209 non-null   float64
 5   child_at_Home         2237 non-null   float64
 6   teen_at_Home          2231 non-null   float64
 7   dt_Customer           2232 non-null   object
 8   Recency               2236 non-null   float64
 9   amt_Wines             2233 non-null   float64
 10  amt_Fruits            2232 non-null   float64
 11  amt_MeatProducts      2236 non-null   float64
 12  amt_FishProducts      2239 non-null   float64
 13  amt_SweetProducts     2232 non-null   float64
 14  amt_GoldProds         2237 non-null   float64
 15  num_DealsPurchases    2232 non-null   float64
 16  num_WebPurchases      2235 non-null   float64
 17  num_CatalogPurchases  2237 non-null   float64
 18  num_StorePurchases    2235 non-null   float64
 19  num_WebVisitsMonth    2236 non-null   float64
 20  acceptedCmp3          2233 non-null   float64
 21  acceptedCmp4          2235 non-null   float64
 22  acceptedCmp5          2238 non-null   float64
 23  acceptedCmp1          2232 non-null   float64
 24  acceptedCmp2          2234 non-null   float64
 25  Complain              2237 non-null   float64
 26  Response              2234 non-null   float64
dtypes: category(2), float64(24), object(1)
memory usage: 442.6+ KB

 # 6. decsribing the stats for numerical attributes

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,2237.0,5596.042915,3245.922256,0.0,2831.0,5462.0,8430.00,11191.0
year_Birth,2232.0,1968.798387,11.993448,1893.0,1959.0,1970.0,1977.00,1996.0
Income,2209.0,52186.687641,25092.251349,1730.0,35246.0,51369.0,68487.00,666666.0
child_at_Home,2237.0,0.444345,0.538467,0.0,0.0,0.0,1.00,2.0
teen_at_Home,2231.0,0.506499,0.544708,0.0,0.0,0.0,1.00,2.0
Recency,2236.0,49.135510,28.962847,0.0,24.0,49.0,74.00,99.0
amt_Wines,2233.0,303.943126,336.852759,0.0,24.0,173.0,504.00,1493.0
amt_Fruits,2232.0,26.288082,39.778419,0.0,1.0,8.0,33.00,199.0
amt_MeatProducts,2236.0,166.357335,223.876991,0.0,16.0,67.0,231.25,1725.0
amt_FishProducts,2239.0,37.542206,54.635422,0.0,3.0,12.0,50.00,259.0
amt_SweetProducts,2232.0,26.995968,41.217764,0.0,1.0,8.0,33.00,263.0
amt_GoldProds,2237.0,44.019222,52.200282,0.0,9.0,24.0,56.00,362.0
num_DealsPurchases,2232.0,2.324821,1.933162,0.0,1.0,2.0,3.00,15.0
num_WebPurchases,2235.0,4.084564,2.779499,0.0,2.0,4.0,6.00,27.0
num_CatalogPurchases,2237.0,2.658024,2.920334,0.0,0.0,2.0,4.00,28.0
num_StorePurchases,2235.0,5.791499,3.250152,0.0,3.0,5.0,8.00,13.0
num_WebVisitsMonth,2236.0,5.315295,2.427353,0.0,3.0,6.0,7.00,20.0
acceptedCmp3,2233.0,0.072100,0.258712,0.0,0.0,0.0,0.00,1.0
acceptedCmp4,2235.0,0.074720,0.262998,0.0,0.0,0.0,0.00,1.0
acceptedCmp5,2238.0,0.072833,0.259920,0.0,0.0,0.0,0.00,1.0
acceptedCmp1,2232.0,0.064516,0.245725,0.0,0.0,0.0,0.00,1.0
acceptedCmp2,2234.0,0.012981,0.113218,0.0,0.0,0.0,0.00,1.0
Complain,2237.0,0.009388,0.096455,0.0,0.0,0.0,0.00,1.0
Response,2234.0,0.149060,0.356227,0.0,0.0,0.0,0.00,1.0

# 7. Check data with null values

In [10]:
df.isnull().sum()

ID                       3
year_Birth               8
Education                6
marital_Status           6
Income                  31
child_at_Home            3
teen_at_Home             9
dt_Customer              8
Recency                  4
amt_Wines                7
amt_Fruits               8
amt_MeatProducts         4
amt_FishProducts         1
amt_SweetProducts        8
amt_GoldProds            3
num_DealsPurchases       8
num_WebPurchases         5
num_CatalogPurchases     3
num_StorePurchases       5
num_WebVisitsMonth       4
acceptedCmp3             7
acceptedCmp4             5
acceptedCmp5             2
acceptedCmp1             8
acceptedCmp2             6
Complain                 3
Response                 6
dtype: int64

# 8. Replacing NA amt_MeatProducts values with the mean values

In [12]:
df['amt_MeatProducts'].fillna(df['amt_MeatProducts'].mean(), inplace=True)

df['amt_MeatProducts'].isnull().sum()

<ipython-input-12-f72ce8d34fa9>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['amt_MeatProducts'].fillna(df['amt_MeatProducts'].mean(), inplace=True)

0

# 9. If you have NA valuse then replace by median value corresponding feature from the data set

In [13]:
for col in df.select_dtypes(include=['number']):
    if df[col].isnull().any():
        df[col].fillna(df[col].median(), inplace=True)

df.isnull().sum()

<ipython-input-13-caa4eb23cb50>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

ID                      0
year_Birth              0
Education               6
marital_Status          6
Income                  0
child_at_Home           0
teen_at_Home            0
dt_Customer             8
Recency                 0
amt_Wines               0
amt_Fruits              0
amt_MeatProducts        0
amt_FishProducts        0
amt_SweetProducts       0
amt_GoldProds           0
num_DealsPurchases      0
num_WebPurchases        0
num_CatalogPurchases    0
num_StorePurchases      0
num_WebVisitsMonth      0
acceptedCmp3            0
acceptedCmp4            0
acceptedCmp5            0
acceptedCmp1            0
acceptedCmp2            0
Complain                0
Response                0
dtype: int64

# 10. convert categoriacl variable into numeric Using one hot encoding method

In [14]:
encoded_df = pd.get_dummies(df, columns=['Education', 'marital_Status'], drop_first=True)

encoded_df.head()

,ID,year_Birth,Income,child_at_Home,teen_at_Home,dt_Customer,Recency,amt_Wines,amt_Fruits,amt_MeatProducts,...,Education_Graduation,Education_Master,Education_PhD,marital_Status_Alone,marital_Status_Divorced,marital_Status_Married,marital_Status_Single,marital_Status_Together,marital_Status_Widow,marital_Status_YOLO
0,5524.0,1957.0,58138.0,0.0,0.0,4/9/12,58.0,635.0,88.0,546.0,...,True,False,False,False,False,False,True,False,False,False
1,2174.0,1954.0,46344.0,1.0,1.0,8/3/14,38.0,11.0,1.0,6.0,...,True,False,False,False,False,False,True,False,False,False
2,4141.0,1965.0,71613.0,0.0,0.0,21-08-2013,26.0,426.0,49.0,127.0,...,True,False,False,False,False,False,False,True,False,False
3,6182.0,1984.0,26646.0,1.0,0.0,10/2/14,26.0,11.0,4.0,20.0,...,True,False,False,False,False,False,False,True,False,False
4,5324.0,1981.0,58293.0,1.0,0.0,19-01-2014,94.0,173.0,43.0,118.0,...,False,False,True,False,False,True,False,False,False,False

# 11. Performing Normalization on data using Min Max Scaler

In [17]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

numerical_cols = encoded_df.select_dtypes(include=['number']).columns
numerical_cols = numerical_cols.drop(['ID', 'year_Birth'])

scaler.fit(encoded_df[numerical_cols])

normalized_data = scaler.transform(encoded_df[numerical_cols])

normalized_df = pd.DataFrame(normalized_data, columns=numerical_cols, index = encoded_df.index)

normalized_df.head()

,Income,child_at_Home,teen_at_Home,Recency,amt_Wines,amt_Fruits,amt_MeatProducts,amt_FishProducts,amt_SweetProducts,amt_GoldProds,...,num_CatalogPurchases,num_StorePurchases,num_WebVisitsMonth,acceptedCmp3,acceptedCmp4,acceptedCmp5,acceptedCmp1,acceptedCmp2,Complain,Response
0,0.084832,0.0,0.0,0.585859,0.425318,0.442211,0.316522,0.664093,0.334601,0.243094,...,0.357143,0.307692,0.35,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.067095,0.5,0.5,0.383838,0.007368,0.005025,0.003478,0.007722,0.003802,0.016575,...,0.035714,0.153846,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.105097,0.0,0.0,0.262626,0.285332,0.246231,0.073623,0.428571,0.079848,0.116022,...,0.071429,0.769231,0.20,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.037471,0.5,0.0,0.262626,0.007368,0.020101,0.011594,0.038610,0.011407,0.013812,...,0.000000,0.307692,0.30,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.085065,0.5,0.0,0.949495,0.115874,0.216080,0.068406,0.177606,0.102662,0.041436,...,0.107143,0.461538,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 12. Splitting the data into training and testing

In [18]:
from sklearn.model_selection import train_test_split

X = normalized_df
y = encoded_df['Income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1792, 22), (448, 22), (1792,), (448,))

# 13. find the accuracy corresponding to Logistic Regression Model

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.015625

# 14. A study of primary education asked elementaty school students to retell two book articles that they read earlier in the week. The first (Article 1) had no pictures, and the second (Article 2) was illustrated with pictures. An expert listened to recordings of the students retelling each article and assigned a score for certain uses of language. Higher scores are better. Here are the data for five readers in this study:

#### Article 1   0.40   0.72   0.00   0.36   0.55

#### Article 2   0.77   0.49   0.66   0.28   0.38


#### A) What are $H_0$ and $H_a$ ? (5 points)

H0: There is no difference in language scores between articles with and without pictures. The mean difference in scores is zero.

Ha: There is a difference in language scores between articles with and without pictures. The mean difference in scores is not zero.

#### B) Is this a paired or unpaired experiment? (5 points)

This is a **paired** experiment, because the tests before and after are performed on the same students.

#### C) Based on your previous answer, which nonparametric test statistic would you use to compare the medians of Article 1 and Article 2. (5 points)

Wilcoxon Signed-Rank Test

#### D) Use a nonparametric test statistic to check if there is a statistically significant difference between the medians of Article 1 and Article 2. (5 points)

In [21]:
import scipy.stats as stats

article1 = [0.40, 0.72, 0.00, 0.36, 0.55]
article2 = [0.77, 0.49, 0.66, 0.28, 0.38]

statistic, p_value = stats.wilcoxon(article1, article2)

print(f"Wilcoxon Signed-Rank Test Statistic: {statistic}")
print(f"P-value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print("There is a statistically significant difference between the medians of Article 1 and Article 2.")
else:
    print("There is no statistically significant difference between the medians of Article 1 and Article 2.")

Wilcoxon Signed-Rank Test Statistic: 6.0
P-value: 0.8125
There is no statistically significant difference between the medians of Article 1 and Article 2.

#### E) Will you accept or reject your Null Hypothesis? ($\alpha = 0.05$) Do illustrations improve how the students retell an article or not? Why? (5 points)

Since the P-value is greater than 0.05, we don't have enough evidence to reject the Null Hypothesis. Thus, there is not sufficient evidence to suggest that illustrations improve how students retell an article.

# 15. Two companies selling toothpastes with the lable of 100 grams per tube on the package. We randomly bought eight toothpastes from each company A and B from random stores. Afterwards, we scaled them using high precision scale. Our measurements are recorded as follows:

#### Company A: 97.1   101.3   107.8   101.9   97.4    104.5   99.5    95.1
#### Company B: 103.5  105.3   106.5   107.9   102.1   105.6   109.8   97.2


#### A) Is this a paired or unpaired experiment? (5 points)

This is a unpaired experiment, because the samples of the toothpaste tubes come from two independent companies.

#### B) Based on your previous answer, which nonparametric test statistic would you use to compare the medians of Company A and Company B. (5 points)

Wilcoxon Rank-Sum Test (ranksums)

#### C) Use a nonparametric test statistic to check if there is a statistically significant difference between the medians of Company A and Company B. (5 points)

In [22]:
company_a = [97.1, 101.3, 107.8, 101.9, 97.4, 104.5, 99.5, 95.1]
company_b = [103.5, 105.3, 106.5, 107.9, 102.1, 105.6, 109.8, 97.2]

statistic, p_value = stats.ranksums(company_a, company_b)

print(f"Wilcoxon Rank-Sum Test Statistic: {statistic}")
print(f"P-value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print("There is a statistically significant difference between the medians of Company A and Company B.")
else:
    print("There is no statistically significant difference between the medians of Company A and Company B.")

Wilcoxon Rank-Sum Test Statistic: -1.995399119739914
P-value: 0.045999366875037084
There is a statistically significant difference between the medians of Company A and Company B.

#### D) Will you accept or reject your Null Hypothesis? ($\alpha = 0.05$) Are packaging process similar or different based on weight measurements? Why? (5 points)

Since the P-value is less than 0.05, we reject the null hypothesis. There is a statistically significant difference between the medians of the two companies' toothpaste weights. The packaging processes are different based on weight measurements.